.slider{
    height: 40px;
    border: 2px solid var(--red);
    border-radius: 20px;   
}

.thumb{
    background-color: var(--red);
    cursor: pointer;
    border: 1px solid var(--red);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.slider.green{
    border: 2px solid var(--green);
}

.thumbgreen{
    background-color: var(--green);
    cursor: pointer;
    border: 1px solid var(--green);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}